# Packages
node_modules/
vendor/
!/resources/views/vendor/

# Temporary
/public/hot
/public/storage

# Environment-specific
/storage/*.key
.env
.env.backup
.php_cs

# Development-specific
_ide_helper.php
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
